.about {
  background-color: #F2F0F1;
}

.about__container {
  padding-top: 90px;
  padding-bottom: 35px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}


.about__wrapper-text {
  width: 480px;
}

.about__title {
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 2.5em;
  line-height: 60px;
  margin-bottom: 30px;
}

.about__text {
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 1em;
  line-height: 30px;
}

.about__text:not(:last-child) {
  margin-bottom: 30px;
}

.about__img {
  margin-bottom: 27px;
}

.about__link {
  margin-left: auto;
  color: #FF8A00;
}
