.help__container {
  padding-top: 90px;
}

.help__title {
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 2.5em;
  line-height: 60px;
  color: #FF8A00;
  text-align: center;
  margin-bottom: 50px;
}

.help__item {
  display: flex;
  
  align-items: center;
}

.help__content-wrap {
  max-width: 590px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.help__image_o1 {
  order: 1;
}

.help__image-wrap {
  display: flex;
  flex-direction: column;
  

  
}

.help__image-wrap:last-child{
  margin-right: 0;
}

